<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/jasny-bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/front.css"/>
</head>

<body class="white">
<div class="container-fluid">
    <div class="inner__wrap">
        <div class="row content">
            <div class="col-sm-12">
                <div class="signup-team__container">
                    <img class="signup-team-logo" src='../images/logo.png' />
                    <div id="find-team">
                        <div>
                            <h4>Encuentra tu equipo</h4>
                            <form>
                                <p>Encuentra los equipos a los que perteneces.</p>
                                <div class="form-group">
                                    <label class="control-label">Correo electrónico</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="tu@ejemplo.com" maxlength="128" spellcheck="false">
                                    </div>
                                </div>
                                <button class="btn btn-md btn-primary" type="submit">Enviar</button>
                            </form>
                        </div>
                    </div>
                    <div id="teams-found" style="display: none;">
                        <h4>Equipos encontrados</h4>
                        <div id="found" style="display: none">
                            <p>Haz solicitado encontrar los equipos a los que tienes asociado tu correo electrónico y encontramos los siguientes:</p>
                        </div>
                        <div id="none" style="display: none;">
                            <p>No hemos podido encontrar ningún equipo asociado al correo electrónico suministrado.</p>
                            <a id="retry" href="javascript:void(0);">Intenta de nuevo</a> o
                            <a id="new_team" href="javascript:void(0)"><strong>Crear un nuevo equipo</strong></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-push"></div>
        </div>
        <div class="row footer">

            <div class="footer-pane col-xs-12">
                <div class="col-xs-12">
                    <span class="pull-right footer-site-name">ZBox</span>
                </div>
                <div class="col-xs-12">
                    <span class="pull-right footer-link copyright">© 2015 ZBox, Spa.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../plugins/jquery/jquery.min.js"></script>
<script src="../js/find.js"></script>
</body>
</html>
