<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>No se encontró la configuración!<h1>

    <div>
        Verifica que tienes creado un archivo <code>config.json</code> en la carpeta raíz de ZBox Chat
    </div>
    <div>
        y que tenga valores como estos:
        <pre><code>
            {
                "services": {
                    "chat": "https://chat.zboxapp.com/",
                    "oauth": "https://oauth.zboxapp.com/"
                },
                "window": {
                    "width": 1024,
                    "height": 600
                },
                "splash": {
                    "width":400,
                    "height": 205
                }
            }
        </code>
        </pre>
    </div>
</body>
</html>