<!DOCTYPE html>
<html lang="es">
<base href="../">
<head>
    <meta charset="UTF-8">
    <title>ZBox Chat</title>
    <link rel="stylesheet" href="../plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/splash.css">
</head>
<body>
<div class="outer">
    <div class="middle">
        <div class="inner">
            <div id="logo">
                <div class="img">
                    <img src="images/zbox-logo.png">
                </div>
                <div class="name">Box Now!</div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar"
                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                </div>
            </div>
            <div class="info">Inicializando...</div>
        </div>
    </div>
</div>
<script src="../plugins/jquery/jquery.min.js"></script>
<script src="../plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/splash.js"></script>
</body>
</html>